.icon1{
    padding-right: 0.5rem;
    font-size: 1.5rem;
}
.footerdiv{
    background-color:#050f47;
    color: #fff;
    text-align: center;
    margin-top: 20px;
}
.footerdiv h1{
    font-size: 1.5rem;
    padding: 1rem;
    font-style: italic;
}