.full-container{
  padding: 1rem;
}
.filterMovies {
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
  width: 80%;
  margin: auto;
}
.filters-container{
  display: flex;
}
.main{
    padding: 10px;
}
.filters-title2{
  padding-top: 15px;
}
.filters-title{
  padding-top: 15px;
}
.searchbar-container{
  width: 100%;
  padding-left: calc(4px + 0.5rem);
}

.title{
  margin-top: 10px;
  border-radius: 5px;
  border-color: rgb(0, 0, 88);
  width: calc(100% - 27px );
  border-width: 0.5px;
  min-height: 36px;
  padding-left: 5px;
}
.year-container, .duration-container, .budget-container{
  float: left;
  width: 33%;
  padding: 0.5rem;
}

.year, .time, .budget, .language, .genre{
  padding: 5px;
  margin: 10px;
  margin-left: 0;
  border-radius: 5px;
  border-color: rgb(0, 0, 88);
  width: 100%;
  border-width: 0.5px;
  min-height: 36px;
}
.years-filters-container{
  height: 50%;
}

.year-title{
  width: 45%;
  float: left;
}
#year-title1{
  margin-right: calc(10% - 9px);
  margin-left: 4px;
}

.time{
  border-style: inset;
}
.bottom-duration{
    margin-top: 6px;
}
#bottom-duration{
  margin-top: 17px;
}
.budgets{
  height: 50%;
}
.budget-title{
    width: 45%;
  float: left;
}
#budget-title1{
  margin-right: calc(10% - 9px);
  margin-left: 4px;
}
.budget{
  border-style: inset;

}
.submit-button-div{
  padding: 20px;
  text-align-last: center;
  width: 100%;
  padding-bottom: 5rem;
  border-bottom-style: solid;
}
.submit-button{
  align-items: center;
  padding: 5px;
  border-radius: 5px;
  width: 15%;
  background-color: rgb(22 22 147);
  color: white;
}
#titol-filters{
  padding: 20px;
  border-bottom-style: solid;
}
/* ----------taula---------- */
thead{
  background-color: #5f84A2;
}
tr{
  border-radius: 3px;
  font-weight: 100;
}
th p{
  font-size: large;
  display: block;
  font-weight: lighter;
  font-style: none;
  text-decoration: none;
}
th a{
  font-size: 20px;
  font-weight: lighter;
}
td a{
  font-size: 22px;
  font-weight: 900;
  font-style: italic;
}
td{
  text-align: center;
}
table, th, td{
  border-width: 1px;
  border-color: rgb(23, 40, 92);
  /* border-radius: 3%; */
  border-style: solid;
  border-collapse: separate;
}
table{
  background-color:#91AEC4;
  margin: 3rem;
  border-spacing: 0;
  border-collapse: collapse;
  border-style: hidden;
}
th{
  width: calc(100% / 90);
}
th, td{
  padding: 10px;
}



/* ----------no tocar---------- */

.css-1s2u09g-control{
  border-color: rgb(0, 0, 88) !important;
  border-radius: 5px !important;
}
.css-1okebmr-indicatorSeparator{
  background-color: white !important;
}
.css-tj5bde-Svg{
  fill: rgb(0, 0, 88) !important;
}